body,h1,h2,h3,h4,h5,h6,div,dt,dd,p,ul,li,ol,input,a{ padding:0;margin:0; font-family:Arial,"Microsoft Yahei",sans-serif; font-weight: 100;}
li{list-style:none;}

a{text-decoration:dotted; color:#6b7ea6;
    cursor: pointer;
    transition: color  0.3s;
    -moz-transition: color   0.3s;	/* Firefox 4 */
    -webkit-transition: color   0.3s;	/* Safari 和 Chrome */
    -o-transition: color    0.3s;	/* Opera */
}
a:hover{ color:#6ca3f7;}
.clearfix{
    display: block;
    zoom:1;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;

}

h1{text-align: center; margin-top: 20px;}
h2{text-align: center;}
#container{ width:600px; margin:0 auto;}
.code{ text-align:left;background: #ABC;padding:10px; border-radius: 5px;}
#logo{ width:600px; margin:0 auto;display: block;}

